@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.contactUs {
    font-family: "Inter", sans-serif;
}

#img-banner {
    display: flex;
    height: 25rem;
}

#banner {
    background-image: url("./assets/banner-contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

#banner-text {
    color: white;
    font-size: 6rem;
    font-weight: bold;
}

.contactPanel {
    display: flex;
    justify-content: center;
    padding: 5rem ;
}

#maps {
    width: 50rem;
    height: 50rem;
    margin-left: 5rem;
    border-radius: 5rem;
    border-style: none;
    outline: none;
}

#maps:focus{
    outline: none;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
    gap: 5rem;
}

.contactTitle {
    background: #0C2D48;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 4rem;
    padding: 1rem 3rem;
}

.contactList {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    padding: 2rem 5rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-ubi {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    gap: 2rem;
}