.productInfo span{
    /*color: #DF362D;*/
    color: #b40b02;
    font-weight: bold;
}

.product{
    width: 30rem;
    transition: .2s;
}

.product:hover{
    scale: 1.025;
    transition: .2s;
}

.productInfo{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    font-size: 1.4rem;
}

.productInfoContant{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productTitle{
    font-size: 2rem;
    font-weight: bold;
}

.productInfo img{
    width: 1.4rem;
    height: 1.4rem;
}

.productImage{
    width: 30rem;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 950px){
    .product{
        width: 17rem;
        margin: 1rem .5rem;
        scale: 1;
    }

    .productImage{
        width: 17rem;
        height: 17rem;
    }

    .productTitle{
        font-size: 1.5rem;
    }

    .productInfo{
        font-size: 1.2rem;
    }

    .productInfo img{
        width: 1.2rem;
        height: 1.2rem;
    }

    .productInfoContant{
        gap: .5rem;
    }

    .product{
        transition: 0s;
    }
    
    .product:hover{
        scale: 1.0;
        transition: 0s;
    }
}