@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    font-family: "Inter", sans-serif;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    height: 5rem;
}

nav a{
    text-decoration: none;
    color: #000;
}
languageDropdownList
nav a.active{
    font-weight: bold;
}

#logo {
    width: 8rem;
    height: auto;
}

.language img{  
    width: 2rem;
}

.navItems {
    display: flex;
    list-style: none;
    gap: 10rem;
}

.navItems li a{
    padding: 1rem;
}

.language {
    background: #fafafa;
    border-style: none;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: .5rem;
}

.language button{
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fafafa;
    width: 13rem;
}

.languageMobile{
    display: none;
}

.languageDropdownList button{
    display: flex;
    gap: 1rem;
    padding: 2rem 0 1rem 0;
    margin: 0 1rem;
}

.languageDropdownList{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fafafa;
    border-radius: .5rem;
}

.languageDropdown{
    display: none;
}

.languageDropdown.active{
    display: flex;
    justify-content: center;
}

.languageVisibleButton{
    display: flex;
    gap: 2rem;
}

.languageVisibleButton div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#menuIcon{
    width: 2rem;
    height: 2rem;
    display: none;
}

.menuIconBox{
    display: none;
    padding: 2rem;
}

@media (max-width: 800px){
    .mobile-nav{
        padding: 0 0 0 2rem;
    }

    .navItems{
        display: none;
        gap: 3rem;
        background-color: #fff;
    }

    nav{
        flex-direction: column;
        position: absolute;
        padding: 0;
    }

    #menuIcon{
        display: block;
    }

    .mobile-nav div{
        display: block;
    }

    .language{
        display: none;
    }

    .navItems.active{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 0;
    }

    .navItems.active .languageMobile{
        display: flex;
    }

    .languageMobile img:first-child{
        padding: 1rem 2.5rem 1rem 1rem;
    }

    .languageMobile img:last-child{
        padding: 1rem 2.5rem;
    }

    .mobile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #logo{
        width: 8rem;
        height: auto;
    }
}