.products{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 0 5rem;
    margin-bottom: 3rem;
}

@media (max-width: 750px){
    .products{
        justify-content: center;
    }
}

@media (max-width: 800px){
    .productPage{
        padding-top: 6rem;
    }
}

/*-----------------------PRODUCTS IMAGES-----------------------*/

#product1{
    background-image: url("../../assets/photos/Estopa/EstopaBlancaA.avif");
}

#product2{
    background-image: url("../../assets/photos/Estopa/EstopaBlancaB25.avif");
}

#product3{
    background-image: url("../../assets/photos/Estopa/EstopaColor25.avif");
}

#product4{
    background-image: url("../../assets/photos/Estopa/FundaEstopaMixta.avif");
}

#product5{
    background-image: url("../../assets/photos/Trapos/TrapoBlanco25.avif");
}

#product6{
    background-image: url("../../assets/photos/Trapos/TrapoBlanco10.avif");
}

#product7{
    background-image: url("../../assets/photos/Trapos/TrapoColor5.avif");
}

#product8{
    background-image: url("../../assets/photos/Trapos/TrapoColor25.avif");
}

#product9{
    background-image: url("../../assets/photos/Trapos/TrapoColor10.avif");
}

#product10{
    background-image: url("../../assets/photos/Trapos/TrapoColor20.avif");
}

#product11{
    background-image: url("../../assets/photos/TNT/FundaTNT.avif");
}

#product12{
    background-image: url("../../assets/photos/TNT/PañosTNT.avif");
}

#product13{
    background-image: url("../../assets/photos/TNT/BobinasDePapel.avif");
}

#product14{
    background-image: url("../../assets/photos/Guata/GustaSiliconada5.avif");
}

#product15{
    background-image: url("../../assets/photos/Guata/GuataSiliconada2.avif");
}

#product16{
    background-image: url("../../assets/photos/Guata/GuataEnManta.avif");
}