.productPage{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.products{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 3rem 0;
}


@media (max-width: 800px){
    .products{
        gap: 0rem;
        justify-content: space-evenly;
        padding: 1rem 0;
    }
    
    .productPage {
        overflow-x: hidden;
    }
}

/*-----------------------PRODUCTS IMAGES-----------------------*/

#product1{
    background-image: url("../../assets/photos/Estopa/EstopaBlancaA.avif");
}

#product2{
    background-image: url("../../assets/photos/Estopa/EstopaBlancaB25.avif");
}

#product3{
    background-image: url("../../assets/photos/Estopa/EstopaColor25.avif");
}

#product4{
    background-image: url("../../assets/photos/Estopa/FundaEstopaMixta.avif");
}

#product5{
    background-image: url("../../assets/photos/Trapos/TrapoBlanco25.avif");
}

#product6{
    background-image: url("../../assets/photos/Trapos/TrapoBlanco10.avif");
}

#product7{
    background-image: url("../../assets/photos/Trapos/TrapoColor5.avif");
}

#product8{
    background-image: url("../../assets/photos/Trapos/TrapoColor25.avif");
}

#product9{
    background-image: url("../../assets/photos/Trapos/TrapoColor10.avif");
}

#product10{
    background-image: url("../../assets/photos/Trapos/TrapoColor20.avif");
}

#product11{
    background-image: url("../../assets/photos/TNT/FundaTNT.avif");
}

#product12{
    background-image: url("../../assets/photos/TNT/PañosTNT.avif");
}

#product13{
    background-image: url("../../assets/photos/TNT/BobinasDePapel.avif");
}

#product14{
    background-image: url("../../assets/photos/Guata/GustaSiliconada5.avif");
}

#product15{
    background-image: url("../../assets/photos/Guata/GuataSiliconada2.avif");
}

#product16{
    background-image: url("../../assets/photos/Guata/GuataEnManta.avif");
}