footer {
    color: #fff;
    background: #145DA0;
    font-family: "Inter", sans-serif;
    width: 100%;
}

footer section {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}

.footer-bold{
    font-weight: bold;
}

.contact-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-logos {
    height: 1.6rem;
}

#redes-aligin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.redes-logos {
    height: 2.5rem;
}

.footer-bottom{
    background: #0C2D48;
    padding: 1.5rem 0;
    font-size: 1.2rem;
}

.footerLinks {
    text-decoration: none;
    color: white;
}