footer {
    color: #fff;
    background: #145DA0;
    font-family: "Inter", sans-serif;
    width: 100%;

}

footer section {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}

.footer-bold{
    font-weight: bold;
}

.footer-bottom{
    background: #145183;
    padding: 1.5rem 0;
}