.banner{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}

.banner h1{
    font-size: 6rem;
    color: #fff;
}

@media (max-width: 750px){
    .banner{
        height: 12rem;
        padding-left: 2rem;
    }

    .banner h1{
        font-size: 5rem;
    }
}

#banner1{
    background-image: url("../../assets/photos/Estopa/EstopaADec.avif");
}

#banner2{
    background-image: url("../../assets/photos/Trapos/trapos-color.avif");
    margin-top: 5rem;
}

#banner3{
    background-image: url("../../assets/photos/TNT/BannerTNT.avif");
    margin-top: 5rem;
}

#banner4{
    background-image: url("../../assets/photos/Guata/MaqGuata4.avif");
    margin-top: 5rem;
}